@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.contact_image
{
    text-align: center;
}

img{
    width: 201px;
}

h1 {

    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0;
    text-align: center;
    color: #606060;
    max-width: 289px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    margin: 0 auto;
    border-bottom: 1px dashed #606060;

}

.contact_box{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
}

.contact_text
{
    border-top: 1px dashed #606060;
    border-bottom: 1px dashed #606060;
    text-align: center;

}

label {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.25px;
    text-align: left;
    color: #333333;
}

input {
    padding: 0.5rem;
    font-size: 1rem;
}

button {

    font-size: 14px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.25px;
    text-align: center;
    width: 102px;
    height: 48px;
    padding: 0.5rem 1rem;
    background-color: #606060;
    color: #fff;
    cursor: pointer;
    border: none;
    margin: 0 auto;
}